/* Styles */
div {
	display: block;
	width: 100%;
	text-decoration: none;
	text-align: center;
	margin: 0;
	padding: 5rem !important;
	color: #dedede;
	color: #000;
	color: #BADA55;
	color: #FAC000;
	color: #5628E2;
	color:gold;
	color:green;
}
